SANITY_STUDIO_PROJECT_ID=2c2yp0gm
SANITY_STUDIO_DATASET=production

# Where the site is hosted. For local dev: http://localhost:4321
SANITY_STUDIO_PREVIEW_URL=http://localhost:4321
# Must match SANITY_PREVIEW_SECRET in web/.env
SANITY_STUDIO_PREVIEW_SECRET=change-me-to-something-random
