# build output
dist/
web/dist/
studio/dist/

# generated types / caches
.astro/
web/.astro/
studio/.astro/
.cache/
web/.cache/
studio/.cache/

# dependencies
node_modules/
web/node_modules/
studio/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
.env.production

# macOS
.DS_Store

# IDE
.idea/

# vercel
.vercel/

# sanity local
.sanity/
studio/.sanity/